.menu {
  margin: auto;
  font-size: 2.5em;
}

.agendamento {
  text-align: center;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.icone-menu {
  font-size: 2.5em;
  color: whitesmoke;
}

.link {
  text-align: center;
}

.icones {
  text-align: center;
  color: whitesmoke;
}

.ion-page {
  text-align: center;
}

.icone {
  --background: #ffffff;
  --border-radius: 50%;
  --box-shadow: none;

  ion-icon {
    font-size: 45px;
    color: #ffffff;
  }
}

ion-content.conteudo {
  --background: #fdfdfdf5;
}

.botao-icones {
  background-color: rgb(30, 144, 255);
}

.footer {
  --ion-background-color: rgb(30, 144, 255);
}

.form-agendamento{
  margin: 10px;
  .ion.row{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.textarea{
  height: 200px;
}

p{
  color: blue;
  text-align: center;
}
