<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="main-content" >
  
  <ion-grid *ngIf="userType == 'aluno'">
    <ng-container *ngIf="todosHorariosIndisponiveis(itens) || itens.length === 0">
        <p>Você não tem nenhum horario disponivel no sistema.</p>
    </ng-container>
  </ion-grid>

  <ion-grid *ngIf="itens.length > 0">
    <ion-row class="ion-justify-content-center" *ngIf="!todosHorariosIndisponiveis(itens)">
      <p>Agende sua monitoria:</p>
    </ion-row>

    <ion-row *ngFor="let horario of itens">
      <ion-col size="12" size-md="6" size-lg="6">
        <ng-container *ngIf="horario.disponivel === true && !todosHorariosIndisponiveis(horario)">
          <ion-item>
            <ion-label size="small" class="ion-text-center">Dia: {{ horario.dia }}</ion-label>
            <ion-label size="small" class="ion-text-center">Professor: {{ horario.disciplina.professor.nome }}</ion-label>
            <ion-label size="small" class="ion-text-center">Matéria: {{ horario.disciplina.materia }}</ion-label>
            <ion-label size="small" class="ion-text-center">Horário Início: {{ formatarHorario(horario.horarioInicio) }}</ion-label>
            <ion-button (click)="salvaAgendamento(horario)" color="success">Agendar</ion-button>
          </ion-item>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true" class="navebar" *ngIf="userType == 'aluno'">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="icones">
        <ion-icon (click)="goHome()" name="home"></ion-icon>
      </ion-col>

      <ion-col size="6" class="icones">
        <ion-icon (click)="goPerfil()" name="person" size="lar"></ion-icon>
      </ion-col>
      
    </ion-row>
  </ion-toolbar>
</ion-footer>
