.ion {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 120px;
}

.center-icon {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}
.link {
    padding-left: 110px;
}

.teste{
    color: #000000;
}
