<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title class="ion-text-center">ClassCalendar</ion-title>
    <ion-buttons slot="start" *ngIf="userType == 'tecnico'">
      <ion-menu-button class="teste" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <h1 class="ion-text-center">CADASTRO</h1>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-item>
      <ion-label>Selecione o tipo:</ion-label>
      <ion-select aria-label="text"  [(ngModel)]="userGroup">
        <ion-select-option value="professor">Professor</ion-select-option>
        <ion-select-option value="tecnico">Técnico</ion-select-option>
        <ion-select-option value="aluno">Aluno</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-grid class="ion" *ngIf="userGroup == 'aluno'">

    <ion-row>
      <ion-col>
        <ion-label >
          <ion-textarea label="NOME" [(ngModel)]="nome" labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="TURMA" [(ngModel)]="turma"  labelPlacement="floating" fill="outline" placeholder="Digite sua Turma"
            type="text" id="turma" name="turma"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="TELEFONE" [(ngModel)]="telefone" labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="ENDEREÇO" [(ngModel)]="endereco" labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-input label="SENHA" type="text"  [(ngModel)]="senha" label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center button">
        <ion-button class="button" size="default" (click)="salvaAluno()" expand="full" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion" *ngIf="userGroup == 'tecnico'">

    <ion-row>
      <ion-col>
        <ion-label >
          <ion-textarea label="NOME" [(ngModel)]="nome"  labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="TELEFONE" [(ngModel)]="telefone"  labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="ENDEREÇO"  [(ngModel)]="endereco"  labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-input label="SENHA" type="text" [(ngModel)]="senha"  label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center button">
        <ion-button class="button" size="default" (click)="salvaTecnico()" expand="full" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid class="ion" *ngIf="userGroup == 'professor'">

    <ion-row>
      <ion-col>
        <ion-label >
          <ion-textarea label="NOME" [(ngModel)]="nome"  labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="TELEFONE" [(ngModel)]="telefone"  labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-textarea label="ENDEREÇO" [(ngModel)]="endereco"  labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-textarea>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-input label="SENHA" type="text" [(ngModel)]="senha"  label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center button">
        <ion-button class="button" size="default" expand="full" (click)="salvaProfessor()" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid> 
  
</ion-content>

<ion-footer [translucent]="true" class="navebar" *ngIf="userType == 'tecnico'">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="icones">
        <ion-icon (click)="goHome()" name="home"></ion-icon>
      </ion-col>

      <ion-col size="6" class="icones">
        <ion-icon (click)="goPerfil()" name="person" size="lar"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>