<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Dados de Professores</ion-title>
    <ion-button slot="end" color="success" shape="round" (click)="ngOnInit()">Atualizar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Lista de Professores</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="button == 'professores'">
    <ion-row>
      <ion-col class="ion-text-center" *ngFor="let professor of itens; let ix = index">
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="person-circle-outline" style="font-size: 24px;"></ion-icon>
          </ion-avatar>
          <p>{{professor.nome}}</p>        
            <ion-button color="warning" size="small" (click)="irnoProfessor(professor)">Detalhes</ion-button>         
            <ion-button color="danger" size="small" (click)="excluirProfessor(professor)">Excluir</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="button == 'materias'">
    <ion-row>
      <ion-col class="ion-text-center" *ngFor="let professor of itens; let ix = index">
        <ion-item>
          <ion-avatar slot="start">
            <ion-icon name="person-circle-outline" style="font-size: 24px;"></ion-icon>
          </ion-avatar>
          <p>{{professor.nome}}</p>        
          <ion-button color="success" size="small" (click)="irnaDisciplina(professor)">Materias</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>





  
  