.detalhes {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(58, 193, 235);
    margin-top: 60px;
    border-radius: 12px;
}

.icone-perf {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 90px;
      padding-bottom: 10px;
}

