/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.header{
    --ion-background-color: rgb(56, 236, 86);
}


.menu-icon {
    font-size: 25px;
}

.grid {
    margin: 20px;
}

.button {
    margin: 20px;
    font-size: 18px;
    --ion-background-color: rgb(56, 236, 86);
    text-align: center;
}

.icon {
    font-size: 80px;
    display: flex;
    justify-content: center;
    color: rgb(3, 199, 3);
}

.navebar {
    font-size: 28px;
    color: white;
    text-align: center;
    --ion-background-color: rgb(56, 236, 86);
    }

.butao {
    --background: #ffffff;
    --border-radius: 50%;
    --box-shadow: none;
    margin: 15px;

    ion-icon {
    --background: #ffffff;
    font-size: 35px;
    color: #ffffff;
    }
}