<ion-app>
  <ion-menu contentId="main-content" *ngIf="exibirMenu()">
    <ion-content class="ion-padding">
      <ion-row class="menu-background"></ion-row>

      <ion-list class="menu-item" lines="none">
        <ion-item routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>Inicio
        </ion-item>

        <ion-item routerLink="/agendamento">
          <ion-icon name="calendar-outline"></ion-icon>Agendamentos
        </ion-item>

        <ion-item routerLink="/materia">
          <ion-icon name="book-outline"></ion-icon>Materias
        </ion-item>

        <ion-item routerLink="/perfil">
          <ion-icon name="accessibility-outline" ></ion-icon>Perfil
        </ion-item>

        <ion-item routerLink="/professor">
          <ion-icon name="people-outline"></ion-icon>Professores
        </ion-item>

        <ion-item routerLink="/cadastrobasico">
          <ion-icon name="people-outline"></ion-icon>Cadastro
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
