<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title class="titulo">
      Professores
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="icone-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- conteudo do centro -->
<ion-content class="conteudo">
  <ion-row>
  <ion-col></ion-col>
  <ion-col size="12" class="agendamento">
    Selecione o professor desejado:
  </ion-col>
</ion-row>

<ion-grid>
  <ion-row class="quadrado-grid">
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Português 1
    </ion-col>
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Literatura 2
    </ion-col>
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Redação 3
    </ion-col>
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Matemática 4
    </ion-col>
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Química 5
    </ion-col>
    <ion-col>
      <ion-icon name="person-circle-outline" class="icone-perf"></ion-icon>
      Física 6
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>

<!-- botoes de baixo -->
<ion-footer [translucent]="true" class="footer">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4" class="icones">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-col>

      <ion-col size="4" class="icones">
        <ion-icon name="calendar" size="large"></ion-icon>
      </ion-col>

      <ion-col size="4" class="icones">
        <ion-icon name="chatbubbles" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
