<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">ClassCalendar</ion-title>
    <ion-buttons slot="start" *ngIf="userType == 'tecnico'">
      <ion-menu-button class="teste" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" color="success" shape="round" (click)="getAllDados()">Atualizar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">

  <ion-grid *ngIf="userType == 'aluno'">
    <ng-container *ngIf="usuario" >
      <ng-container *ngIf="items.length === 0 || (todosMonitoriasIndisponiveis(items) && items.length > 0)|| !verificarIdAluno(items, usuario)">
        <h1>Você não tem nenhum agendamento ativo no sistema.</h1>
      </ng-container>
    </ng-container>  

      <ng-container *ngIf="usuario">
        <ion-row class="quadrado-grid" >
          <ng-container *ngFor="let monitoria of items; let ix = index">
            <ion-col size="12" *ngIf="usuario.idAluno === monitoria.aluno.idAluno && monitoria.estado === true">
              <div class="div">
                <p>Dia: {{ monitoria.horario.dia }}</p>
                <p>Professor: {{ monitoria.horario.disciplina.professor.nome }}</p>
              </div>
              <div class="div2" >
                <ion-buttons>
                  <ion-button fill="solid" expand="block" shape="round">{{ formatarHorario(monitoria.horario.horarioInicio) }}</ion-button>
                </ion-buttons>
              </div>
              <p >Matéria: {{ monitoria.horario.disciplina.materia }}</p>
            </ion-col>
          </ng-container>
        </ion-row>
      </ng-container>  
  </ion-grid>
  

  <ion-grid *ngIf="userType == 'professor'">
    <ng-container *ngIf="usuario" >
      <ng-container *ngIf="items.length === 0 || (todosMonitoriasIndisponiveis(items) && items.length > 0)|| !verificarIdProfessor(items, usuario)">
        <h1>Você não tem nenhum agendamento ativo no sistema.</h1>
      </ng-container>
    </ng-container>  

      <ng-container *ngIf="usuario">
        <ion-row class="quadrado-grid" >
          <ng-container *ngFor="let monitoria of items; let ix = index">
            <ion-col size="12" *ngIf="usuario.idProfessor === monitoria.horario.disciplina.professor.idProfessor && monitoria.estado === true">
              <div class="div">
                <p>Dia: {{ monitoria.horario.dia }}</p>
                <p>Aluno: {{ monitoria.aluno.nome }}</p>
              </div>
              <div class="div2" >
                <ion-buttons>
                  <ion-button fill="solid" expand="block" shape="round">{{ formatarHorario(monitoria.horario.horarioInicio) }}</ion-button>
                </ion-buttons>
              </div>
              <p >Matéria: {{ monitoria.horario.disciplina.materia }}</p>
              <ion-button (click)="atualizar(monitoria)" color="success" class="ion-justify-content-center">Finalizar</ion-button> 
            </ion-col>
          </ng-container>
        </ion-row>
      </ng-container>            
  </ion-grid>  
  
  <ion-grid *ngIf="userType == 'tecnico'"> 
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>Bem vindo, {{usuario.nome}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true" class="navebar" *ngIf="userType == 'aluno'">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="icones">
        <ion-icon (click)="goAgendamento()" name="calendar" size="large"></ion-icon>
      </ion-col>

      <ion-col size="6" class="icones">
        <ion-icon (click)="goPerfil()" name="person" size="lar"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-footer [translucent]="true" class="navebar" *ngIf="userType == 'professor'">
  <ion-toolbar>
    <ion-row>
     <ion-col size="12" class="icones">
        <ion-icon (click)="goPerfil()" name="person" size="lar"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


<ion-footer [translucent]="true" class="navebar" *ngIf="userType == 'tecnico'">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="icones">
        <ion-icon (click)="goHome()" name="home"></ion-icon>
      </ion-col>

      <ion-col size="6" class="icones">
        <ion-icon (click)="goPerfil()" name="person" size="lar"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


